APP_NAME=laravel
APP_KEY=base64:SudSJo4DBYPQ6+RkKfiZWUGHGDav4sR80E5M0vybSB4=
APP_ENV=production
APP_DEBUG=false
APP_URL=http://www.the-social-observatory.com/

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=the-social-observatory
DB_USERNAME=observatory_user
DB_PASSWORD=Xk9#mP2vQz7$Lw

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mostafaalmannani@gmail.com
MAIL_PASSWORD=lukudfdyziqwawaf
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mostafaalmannani@gmail.com
MAIL_FROM_NAME="The Social Observatory"
RESTCOUNTRIES_KEY=rc_live_ab2d30a7d876460e8fdebb444d4bba4f

VITE_APP_NAME="The Social Observatory"

QUEUE_CONNECTION=database
